/* Creative Page */
.bento-section {
    display: grid;
    place-items: center;

    max-width: 1200px;
    margin:50px auto;

}

img {
  width: 412px;
  height: auto;
  loading: lazy;
}

.box {
  max-width: 1000px;
  height: 400px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

    .photos {
      background-color: #CE575A;
    }
    .design {
      background-color: #ccc;
    }
    .video {
      background-color: #5C6274;
    }
    .drawing {
      background-color: #FF2B27;
    }

  .side-bar {
    flex-direction: column;
  }