@font-face {
    font-family: 'Averia Serif Libre';
      src: url('/css/Averia_Serif_Libre/AveriaSerifLibre-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('/css/Averia_Serif_Libre/AveriaSerifLibre-LightItalic.woff') format('woff');
      font-weight: 300;
      font-style: italic;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('/css/Averia_Serif_Libre/AveriaSerifLibre-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('/css/Averia_Serif_Libre/AveriaSerifLibre-Bold.woff') format('woff');
      font-weight: 700;
      font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('/css/Averia_Serif_Libre/AveriaSerifLibre-BoldItalic.woff') format('woff');
      font-weight: 700;
      font-style: italic;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('/css/Overpass/Overpass-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('/css/Overpass/Overpass-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('/css/Overpass/Overpass-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('/css/Overpass/Overpass-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('/css/Overpass/Overpass-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
      src: url('../fonts/overpass_mono/overpass-mono-bold-webfont.woff') format('woff'),
            url('../fonts/overpass_mono/overpass-mono-bold-webfont.woff2') format('woff2');
    font-weight: 700;
  }


  html {
    --background-color: #FEF9EE;
    --titlesandtext: #5C6274;
    --hovercolor: #CE575A;
  }
  
  * {
    box-sizing: border-box;
    }
 
body {
  background-color: var(--background-color);
  background-size: cover;
   color: var(--titlesandtext);
   width: 100%;
   margin: 0;
}
  
h1 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 700; /* BOLD */
  font-size: 30px;
}

h2 { 
  font-family: 'Overpass', Georgia, sans-serif;
  font-size: 20px; /* BOLD */
  font-weight: 700;
}

h3 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 400; /* SKINNY */
  font-size: 20px;
  margin: 0px;
}

h4 { 
  font-family: 'Overpass Mono', Georgia, sans-serif;
  font-weight: 300; /* SKINNY */
  font-size: 18px;
}
    
a {
  font-family: 'Overpass', Georgia, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color:#36454F;
}

p {
    font-family: 'Overpass Mono', Georgia, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#currentPage {
    color: red;
}

.underline { 
    cursor: pointer;
}

.navbar {
    position: fixed; 
    top:0; 
    left: 0; 
    width: 100%; 
    padding: 50px 90px 0px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #FEF9EE;
   }
   
   .menu-items li {
       display: inline;
       margin: 0 10px;
       font-size: 18px;
   }
   
   .menu-items li a {
       color: #36454F;
       text-decoration: none;
   } 