@font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-LightItalic.woff') format('woff');
      font-weight: 300;
      font-style: italic;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-Bold.woff') format('woff');
      font-weight: 700;
      font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-BoldItalic.woff') format('woff');
      font-weight: 700;
      font-style: italic;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
      src: url('../css/Montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 700;
  }


  html {
    --background-color: #FEF9EE;
    --titlesandtext: #5C6274;
    --hovercolor: #CE575A;
  }
  
  * {
    box-sizing: border-box;
    }
 
body {
  background-color: var(--background-color);
  background-size: cover;
  color: var(--titlesandtext);
   width: 100%;
   margin: 0;
   
   
}

h1 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 700; /* BOLD */
  font-size: 30px;
}

h2 { 
  font-family: 'Overpass', Georgia, sans-serif;
  font-size: 20px; /* BOLD */
  font-weight: 700;
}

h3 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 400; /* SKINNY */
  font-size: 20px;
  margin: 0px;
}

h4 { 
  font-family: 'Overpass Mono', Georgia, sans-serif;
  font-weight: 300; /* SKINNY */
  font-size: 18px;
}
    
a {
  font-family: 'Overpass', Georgia, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color:#36454F;
}

p {
    font-family: 'Overpass Mono', Georgia, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#currentPage {
    color: var(--hovercolor);
}

.navbar {
  position: fixed; 
  top:0; 
  left: 0; 
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #FEF9EE;
  border-bottom: 1px solid #ccc;
}

.navbar .logo {
padding: 0 20px;
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: #FEF9EE;
  padding: 12px 20px;
}
.menu {
  display: flex;
}
.menu li {
  padding-left: 30px;
  display: inline;
  margin: 0 10px;
  font-size: 18px;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.open-menu, .close-menu {
  position: absolute;
  color: var(--titlesandtext);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top:50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

   .menu-items li {
       display: inline;
       margin: 0 10px;
       font-size: 18px;
   }
   
   .menu-items li a {
       color: #36454F;
       text-decoration: none;
   } 


   .content {
    margin: 90px 6rem 0px 6rem;
    padding: 40px 0;
    display: flex;
    align-items: center;
  }
  
  .content-text {
    display: block;
    padding-bottom: 30px;
  }

  .content-text h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .content-text p {
    max-width: 600px;
    line-height: 1.6;
  }

.content img {
  width: 120%;
  height: auto;
}

@media (max-width: 1200px) { 

.content {
  margin: 90px 2rem 120px 3rem;
}

.content img{
  width: 35em;
}


}

/* UNDERLINE HOVER ANIMATION*/

.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transition: transform 0.25s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: var(--hovercolor);
}

.underline::after {
  transform-origin: bottom right;
}


/* PROJECT SECTION IN TWO COLUMNS */

.projects {
    padding-top: 20px;
    margin: 0 7rem;
  }
  
  .projects h2 {
    font-size: 1.8em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .project-item {
    display: flex;
    padding: 20px;
    border-radius: 30px;
    text-align: left;
    margin: 2rem 10rem;
  }

  .project-item img {
    width: 30rem;
    height: 100%;
    border-radius: 30px;
  }
  
  .project-item h3 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .project-item p {
    font-size: 0.9em;
    line-height: 1.5;
  }
  
  .project-item a {
    color: var(--hovercolor);
    font-weight: bold;
    text-decoration: none;
  }

  .project-item-text {
    margin: 30px;
  }
   

/* FOOTER */

footer {
  background-color: #3C4454;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  footer a {
    width: fit-content;
    margin: 1rem;
    color: white; 
    display:inline-block; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
/* Responsive Design */


@media (max-width: 680px) { 

  .content .text {
    margin: 20px 0 10px 0;
    width: 100%;
    font-size: 20px;
}

  .card {
    width: 90%;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--background-color);
    transition: all 0.2s ease-in-out;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }
  .open-menu, .close-menu {
    display: block;
  }
  #check:checked ~ .menu {
    right: 0;
  }

  footer {
    flex-direction: column;
    height: 30vh;
  }
  footer a {
    margin: 20px;
  }
}





  /*ABOUT ME PAGE*/
  .aboutme {
    margin: 120px 7rem;
  }

  .About img {
    border-radius: 30px;
    height: 35rem;
    margin: 0 20px;
  }

  .About {
    display: flex;
    align-items: center; 
    justify-content: center; 
   padding: 40px 30px;
   margin: 0 30px;
  }

.text {
  flex-direction: column;
  padding: 20px; 
  margin: 0 20px;
}

.text p {
  font-size: 18px;
}
@media (max-width: 600px) {
  .About {
    margin: 0;
    padding:0;
  }

}

  @media (max-width: 900px) {
    .About {
      flex-direction: column;
    }
    .About img {
      max-width: 100%; 
      height: auto; 
    }
  }


@media (max-width: 1100px) {
  .aboutme {
    margin: 120px 3rem 100px 3rem;
    padding: 0;
  }
  .text {
    padding: 0;
    margin: 0;
  }
  .text p {
    font-size: 16px;
  }
  .About img {
    width: 40rem; 
    height: auto; 
  }
}
    
  /*resume page*/
  
  /*fish means boxed (inside joke name). fish represents the texts that are boxed for design purposes (also represents button)*/

  .resumeFish a {
      color: var(--hovercolor);
      font-weight: bold;
      text-decoration: none;
      margin-bottom: 20px;
  }

  .Resume {
    margin: 12rem 15vw 5rem 15vw;
  }

  .Resume h1 {
    border-bottom: 2px solid #36454F;
    padding-top: 1em;
    margin: 0;
  }

  .Resume h2 {
    padding-top: 13px;
    margin: 0;
  }

  .Resume h3 {
    padding-top: 2px;
    margin: 0;
  }

  .Resume h4 {
    padding-top: 1px;
    margin: 0;
  }

  .Resume p {
    padding-top: 1px;
    margin: 0;
  }

  .Resume ul {
    padding-top: 2px;
    margin: 0;
  }

  @media (max-width: 600px) {

    .Resume {
      padding: 8rem 10vw 0rem 10vw;
    }

    .resumeFish{
      margin: 2em 0;
    }

  }


/* CASE STUDY! */

.caseStudy {
  padding-top: 20px;
  margin: 120px 7rem;
}

.caseStudy h1 {
  text-align: center;
}

.caseStudy-thumbnail {
  padding: 10px;
  border-radius: 30px;
  display: flex;
}
.caseStudy-overview-text h1 {
  text-align: left;
}

.caseStudy img {
  width: 50em;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
}

.caseStudy-overview-text {
  margin: 30px 0;
}

.caseStudy-overview-text h3 {
  color: var(--hovercolor);
}

.caseStudy-overview {
  border-radius: 30px;
  border: 5px solid var(--hovercolor);
  padding: 20px 30px;
  margin: 3rem 7rem;
}

.caseStudy-process {
  padding: 20px 30px;
  margin: 3rem 7rem;
}

.caseStudy-process h3 {
  margin: 20px 0;
}

.caseStudy-process img {
  width: 100%;
  margin: auto;
  display: block;
}

.caseStudy-sketches {
  display: flex;
  justify-content: center;
}
.caseStudy-sketches img {
  width: 20rem;
}