@font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-LightItalic.woff') format('woff');
      font-weight: 300;
      font-style: italic;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-Bold.woff') format('woff');
      font-weight: 700;
      font-style: normal;
  }
  
  @font-face {
    font-family: 'Averia Serif Libre';
      src: url('../css/Averia_Serif_Libre/AveriaSerifLibre-BoldItalic.woff') format('woff');
      font-weight: 700;
      font-style: italic;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Overpass';
      src: url('../css/Overpass/Overpass-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Montserrat';
      src: url('../fonts/overpass_mono/overpass-mono-bold-webfont.woff') format('woff'),
            url('../fonts/overpass_mono/overpass-mono-bold-webfont.woff2') format('woff2');
    font-weight: 700;
  }


  html {
    --background-color: #FEF9EE;
    --titlesandtext: #5C6274;
    --hovercolor: #CE575A;
  }
  
  * {
    box-sizing: border-box;
    }
 
body {
  background-color: var(--background-color);
  background-size: cover;
   color: var(--titlesandtext);
   width: 100%;
   margin: 0;
}
  
h1 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 700; /* BOLD */
  font-size: 30px;
}

h2 { 
  font-family: 'Overpass', Georgia, sans-serif;
  font-size: 20px; /* BOLD */
  font-weight: 700;
}

h3 { 
  font-family: 'Averia Serif Libre', Georgia, sans-serif;
  font-weight: 400; /* SKINNY */
  font-size: 20px;
  margin: 0px;
}

h4 { 
  font-family: 'Overpass Mono', Georgia, sans-serif;
  font-weight: 300; /* SKINNY */
  font-size: 18px;
}
    
a {
  font-family: 'Overpass', Georgia, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color:#36454F;
}

p {
    font-family: 'Overpass Mono', Georgia, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

#currentPage {
    color: var(--hovercolor);
}

.navbar {
    position: fixed; 
    top:0; 
    left: 0; 
    width: 100%; 
    padding: 50px 90px 0px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #FEF9EE;
   }
   
   .menu-items li {
       display: inline;
       margin: 0 10px;
       font-size: 18px;
   }
   
   .menu-items li a {
       color: #36454F;
       text-decoration: none;
   } 


   .content {
    margin-top: 100px;
    text-align: center;
    padding: 40px 0;
  }
  
  .content h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .content p {
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6;
  }

/* UNDERLINE HOVER ANIMATION*/

.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hovercolor);
  transition: transform 0.25s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline::after {
  transform-origin: bottom right;
}


/* PROJECT SECTION IN TWO COLUMNS */

.projects {
    padding-top: 20px;
  }
  
  .projects h2 {
    font-size: 1.8em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .project-item {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .project-item h3 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .project-item p {
    font-size: 0.9em;
    line-height: 1.5;
  }
  
  .project-item a {
    color: #e60023;
    font-weight: bold;
    text-decoration: none;
  }
  
  .project-item a:hover {
    text-decoration: underline;
  }
  
/* Responsive Design */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

/* FOOTER */

footer {
    background-color: #BE8F60;
    color: #36454F;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    footer a {
      width: fit-content;
      padding: 20px;
      margin: 1rem;
      color: white; 
      display:inline-block; 
      background: #36454F;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 20px;
    }
    